{% extends 'header.html' %}
{% block content %}
{% load static %}
    <h1>this login</h1>
    <div class="text-center">
        <html>
        <body>

        <h2>โปรดกรอกรหัสของท่าน</h2>

        <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <li class="list-group-item"><a href="{% url 'home' %}"
                                                           class=" list-group-item-light ">
            <img src="{% static 'images/icon/literature.png' %} "height="30" width="30"></i>เข้าสู่ระบบ</a> </li>
        </form>

        <p></p>

        </body>
        </html>
    </div>

{% endblock %}